@mixin flex-column-space-between() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-row-space-between() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
