/* Text sm/Regular */
@mixin text-sm() {
  font-size: 14px;
  line-height: 20px;
}

/* Text sm/Semibold */
@mixin text-sm-semibold() {
  @include text-sm();
  font-weight: 600;
}

/* Text md/Regular */
@mixin text-md() {
  font-size: 16px;
  line-height: 24px;
}

/* Text md/Medium */
@mixin text-md-medium() {
  @include text-md();
  font-weight: 500;
}

/* Text lg/Regular */
@mixin text-lg() {
  font-size: 18px;
  line-height: 28px;
}

/* Text lg/Semibold */
@mixin text-lg-semibold() {
  @include text-lg();
  font-weight: 600;
}

/* Text lg/Bold */
@mixin text-lg-bold() {
  @include text-lg();
  font-weight: 700;
}

/* Display xs/Medium */
@mixin display-xs-medium() {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

/* Text xl/Medium */
@mixin text-xl-medium {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

/* Display xs/Bold */
@mixin display-xs-bold() {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

/* Display md/card/title */
@mixin display-md-title() {
  font-weight: 578;
  font-size: 18px;
  line-height: 20px;
}

/* Display sm/card/sub-title */
@mixin display-sm-sub-title() {
  font-weight: 578;
  font-size: 15px;
  line-height: 20px;
}

/* Display sm/card/sub-title */
@mixin display-xm-title() {
  font-weight: 578;
  font-size: 13px;
  line-height: 32px;
}

/* Display md/title */
@mixin display-md-card-title() {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

@mixin text-small-12() {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}
@mixin text-medium-14() {
  font-size: 14px;
}
@mixin text-medium-15() {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
@mixin text-large-16() {
  font-size: 16px;
}
@mixin text-large-18() {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
